@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent browser back/forward swipe gesture and pull-to-refresh */
html, body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
